name: "CLA Assistant"

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: >-
          (github.event.comment.body == 'recheck' ||
           github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') ||
          github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-document: "https://github.com/usechalk/chalk/blob/main/CLA.md"
          path-to-signatures: "signatures/cla.json"
          branch: "main"
          allowlist: "dependabot[bot],renovate[bot],github-actions[bot]"
          custom-notsigned-prcomment: >-
            Thank you for your contribution! Before we can merge this PR, you need to sign our
            [Contributor License Agreement](https://github.com/usechalk/chalk/blob/main/CLA.md).
            Please read the CLA and post the following comment to sign:


            `I have read the CLA Document and I hereby sign the CLA`
          custom-allsigned-prcomment: "All contributors have signed the CLA. Thank you!"
